code {
  color: #FA653C;
}

.container {
  padding: 0.5rem, 1rem;
}

.submit-btn {
  color: #fff;
  background-color: #212529;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: #FA653C;
}

h2,
h1 {
  font-family: 'Alegreya', serif;
}

p,
label {
  font-family: 'Lato', sans-serif;
}

.home-container {
  margin-top: 80px;
}

.icons-group {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;

}

.icons-group:hover>a:hover {
  color: #FA653C !important;
}

body {
  background-color: #FFF7EA;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.footer_container {
  padding-bottom: 1rem;
}