/* Provide sufficient contrast against white background */

code {
  color: #FA653C;
}

.submit-btn {
  color: #fff;
  background-color: #212529;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-btn:hover {
   background-color: #FA653C;
}

input, textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input:focus {
  outline: #FA653C;
  border: 1px solid #FA653C;
  box-shadow: 0 0 5px #FA653C;
  
}

textarea:focus {
  outline: #FA653C;
  border: 1px solid #FA653C;
  box-shadow: 0 0 5px #FA653C;
}

h1{
  font-family: 'Alegreya', serif;
}
p, label{
  font-family: 'Lato', sans-serif;
}
.home-container {
  margin-top: 80px;
}

.icons-group {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  display: flex;
  justify-content: space-evenly;
  font-size: xx-large;
  
}

.icons-group:hover > a:hover {
  color: #FA653C !important;
}

body {
  /* background: linear-gradient(130deg, #ad90c1 0%, rgb(3, 0, 84) 100%), linear-gradient(130deg, #09007b 0%, rgba(15, 0, 66, 0) 30%), linear-gradient(129.96deg, rgb(255, 47, 47) 10.43%, rgb(0, 4, 96) 92.78%), radial-gradient(100% 246.94% at 100% 0%, rgb(255, 255, 255) 0%, rgba(37, 0, 66, 0.8) 100%), linear-gradient(121.18deg, rgb(20, 0, 255) 0.45%, rgb(27, 0, 62) 100%), linear-gradient(154.03deg, rgb(206, 0, 0) 0%, rgb(255, 0, 61) 74.04%), linear-gradient(341.1deg, rgb(178, 91, 186) 7.52%, rgb(16, 0, 119) 77.98%), linear-gradient(222.34deg, rgb(169, 0, 0) 12.99%, rgb(0, 255, 224) 87.21%), linear-gradient(150.76deg, rgb(183, 213, 0) 15.35%, rgb(34, 0, 170) 89.57%);
background-blend-mode: overlay, normal, overlay, color-burn, screen, overlay, difference, difference, normal; */
background-color: #FFF7EA;
position: absolute; top: 0; left: 0; height: 100%; width: 100%;
}