a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  color: #FA653C;
  font-family: 'Nosifer', cursive;
  font-size: 60px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

a.navbar-brand:hover {
  background-color: #222;
}

/* header{
  background-color: #FFF7EA;

  width: 100%;
 padding-top: 30px;
 padding-bottom: 30px;
} */

.navbar-nav{
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  text-transform: uppercase;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

.nav-items{
  font-family: 'Lato', sans-serif;
}

.nav-items:hover > li:hover {
  background-color: black;
}

.contact{
  font-family: 'Lato', sans-serif;
  color: #333333;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: #FA653C;
  border-color: #333333;
  text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

html {
  font-size: 22px;
  background-color: #FFF7EA;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}


